.student-profile-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.back-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 1rem;
}

.back-button img {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
}

.back-button span {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
}