.student-profile-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.back-button {
    position: absolute;
    top: 100px;
    left: 20px;
    background-color: transparent !important;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 1rem;
}

.back-button img {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.back-button span {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    transition: all 0.2s ease-in-out;
}

.back-button img:hover {
    border-bottom: 1px solid black;
}

.back-button span:hover {
    text-decoration: underline;
}